<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<title>Blog SWCM</title>
	</head>
	<body>
		<header>
		<h1>Videogame Maniac</h1>
		<h2> Reviews de videojuegos</h2>
		<h3>Álvaro García Albaladejo y Daniel Rodríguez Rodríguez</h3>
					<nav>
				<a href="/">Home</a>
				<a href="/Posts">Posts</a>
			</nav>

		</header>
		<hr />
		<div>
			<%- body %>
		</div>
		<hr />

		<footer>
			<a href="/">Home</a>
			Curso 2012-2013
			<br />
			contador de visitas: <%= visitas %>
		</footer>
	</body>
</html>