article {
border: 2px solid #ffffff;
padding: 7px;
margin: 20px;
background-color: #e5f5ff;
}
.invalid_field {
padding: 2px;
background-color: red;
display: table;
}
.field {
width: 100%;
}
#logininfo {
float: right;
clear: both;
}