.cuerpo {
	margin-left: 40;
}
.content {
        margin-top: 80px;
        margin-bottom: 80px;
        overflow: auto;
}

.mainFooter {
        position: fixed;
        width: 100%;
        bottom: 0px;
	background: #EEEEEE;
}

article {
	margin: 20px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px #000000;
        background: #DDDDDD;
}