<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<title>Blog SWCM</title>
	</head>
	<body>
		<h1>Videogame Maniac</h1>
		<h2> Reviews de videojuegos</h2>
		<h3>Álvaro García Albaladejo y Daniel Rodríguez Rodríguez</h3>

		<hr />
		<div>
			<%- body %>
		</div>
		<hr />

		<footer>
			<a href="/">Home</a>
			Curso 2012-2013
			<br />
		</footer>
	</body>
</html>
